In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('weather_in_Hanoi.csv')
df

    month  min_temperature (F)  max_temperature (F)  rainfall (mm)  rainy_days
0       1                   57                   66             25           9
1       2                   59                   68             30          11
2       3                   65                   74             40          15
3       4                   72                   80             90          13
4       5                   75                   89            180          14
5       6                   77                   91            240          15
6       7                   77                   90            280          16
7       8                   78                   90            325          17
8       9                   76                   85            270          14
9      10                   72                   77            130           9
10     11                   66                   77             50           8
11     12                   61                   72             30           7

In [16]:
df.describe()

,month,min_temperature (F),max_temperature (F),rainfall (mm),rainy_days
count,12.000000,12.000000,12.000000,12.000000,12.000000
mean,6.500000,69.583333,79.916667,140.833333,12.333333
std,3.605551,7.633161,8.969223,112.993027,3.393398
min,1.000000,57.000000,66.000000,25.000000,7.000000
25%,3.750000,64.000000,73.500000,37.500000,9.000000
50%,6.500000,72.000000,78.500000,110.000000,13.500000
75%,9.250000,76.250000,89.250000,247.500000,15.000000
max,12.000000,78.000000,91.000000,325.000000,17.000000

In [47]:
s = pd.Series([1, 2, 3])
s.describe()

count    3.0
mean     2.0
std      1.0
min      1.0
25%      1.5
50%      2.0
75%      2.5
max      3.0
dtype: float64

In [68]:
s = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12,13])
s.describe()

count    13.00000
mean      7.00000
std       3.89444
min       1.00000
25%       4.00000
50%       7.00000
75%      10.00000
max      13.00000
dtype: float64

In [63]:
 s = (1,2,3,4,5,6,7,8,9,10,11,12)
print(sum(s)*()

SyntaxError: unexpected EOF while parsing (<ipython-input-63-85e07f0dfef5>, line 2)